$primary-color: #1d72db;
$font-color: #333;
$gray-color: #80808a;
$gray-background-color: rgba(0, 0, 0, 0.09);
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: #111;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-stack;
}

.header {
  border-bottom: 1px solid #c3ccd9;
}

.btn {
  text-decoration: none;
  color: #000;
  background: transparent;
  border: 0;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &--small {
    &:hover {
      background-color: $gray-background-color;
    }
  }

  &--primary {
    width: 100%;
    color: white;
    background-color: #1d72db;
    margin-top: 1rem;
    text-align: center;
    padding: 1.5rem;

    &:hover,
    &:focus {
      background-color: darken(blue, 10%);
    }
  }

  &--secondary {
    width: 100%;
    color: #1d72db;
    background-color: transparent;
    margin-top: 1rem;
    text-align: center;
    padding: 1.5rem;

    &:hover,
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 5px, rgba(0, 0, 0, 0.12) 0px 3px 4px, rgba(0, 0, 0, 0.14) 0px 0px 4px;
    }
  }

  &--text {
    color: $primary-color;
    background-color: transparent;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 5px, rgba(0, 0, 0, 0.12) 0 3px 4px,
        rgba(0, 0, 0, 0.14) 0 0 4px;
    }
  }

  &__content,
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__icon {
    margin-right: 0.8rem;
    color: #6f7d90;
  }

  &--category {
    margin: 0;
    border: 0;

    .btn__content {
      font-size: 1.4rem;
      flex-direction: column;
      text-align: center;

      .btn__icon {
        color: #38bdf8;
        padding-bottom: 1rem;
        margin: 0;
      }
    }

    &:hover {
      .btn__content {
        color: $font-color;

        .btn__icon {
          color: $font-color;
          opacity: 0.5;
        }
      }
    }
  }


  &--nav {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid transparent;

    .btn__content {
      font-weight: 700;
    }

    &:hover {
      border-color: $primary-color;
    }
  }

  &--left {
    margin: 0;
    padding: 0;
    margin-right: auto;
  }
}

.navbar {
  height: 49px;
  display: flex;
}

.search {
  position: relative;
  width: 100%;

  &__input {
    padding: 1.2rem 4rem 1.2rem .8rem;
    background-color: transparent;
    border: 1px solid #c3ccd9;
    border-radius: 4px;
    width: 100%;
    display: block;
    font-size: 1.6rem;

    &:focus-visible {
      outline: 2px solid #38bdf8;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 4rem;
  }

  &__map {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 0 3rem;
    font-size: 1.6rem;
    text-decoration: underline;
    color: $font-color;
    font-weight: 700;
  }
}

.body-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.card-holder {
  &__link-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__item {
    display: flex;
    width: 100%;
    height: 68px;
    padding-top: 32px;
    padding-bottom: 0;
    justify-content: center;
    overflow-x: hidden;
    gap: 16px;
    font-size: 1.3rem;
  }

  &__link {
    text-decoration: none;
    color: #333;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.card {
  min-width: 400px;
  font-family: $font-stack;
  border-radius: 9px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 2rem;
  }

  &__logo {
    height: 24px;
  }

  &__title {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 130%;
    margin: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 475px;
    padding: 0 2rem 2.5rem;
    font-size: 16px;
    line-height: 22px;
  }

  &__forgot-password {
    margin-bottom: 2rem;
    text-align: right;

    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__submit {
    margin-bottom: 1rem;
  }

  &__footer {
    text-align: center;
    margin-top: 2rem;

    &--color {
      color: blue;
      background-color: #ccc
    }
  }

  &__create-account {
    color: $primary-color;
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &--shadow {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.14);
  }
}

.advert {
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden; // Ensures the border-radius applies to all child elements

  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures the image covers the area without distortion
      border-radius: 1rem;
      border: 2px solid $gray-color;
    }
  }

  &__heart {
    z-index: 999;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;

    &:hover {
      background-color: #1d72db46;
    }
  }

  &__location {
    color: $font-color;
    padding: 6px 0;
    font-size: 12px;
    line-height: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $font-color;
  }

  &__price {
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
  }

  &:hover {
    background-color: #1d72db21;
  }
}

.form-group {
  margin-bottom: 1rem;

  &__label {
    display: flex;
    color: $font-color;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__input-wrapper {
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: $gray-background-color;
    position: relative;
    border-color: #ccc;
  }

  &__input {
    width: 100%;
    background: none;
    border: none;

    &:focus-visible {
      outline: transparent;
    }
  }

  &__input-root {
    width: 100%;
    display: flex;
  }
}

.RememberMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}


.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &__input {
    display: inline-block;
    width: 20px;
    height: 20px;

    &:focus-visible {
      outline: 2px solid #38bdf8;
    }

    border-radius: 4px;
    position: relative;
    cursor: pointer;
  }
}