// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE
// Example: input, button, card ...

$primary-color: #1d72db; // Example primary color (blue)
$font-color: #333; // Dark gray color for text
$gray-background-color: rgba(0, 0, 0, 0.09); // Example error color (red)
$font-stack: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

.card {
    max-width: 400px;
    margin: 0 auto;
    font-family: $font-stack;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 9px 46px 8px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .14);
    border-radius: 9px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 0 2rem;
    }

    &__logo {
        height: 24px;
    }

    &__title {
        font-size: 1.5rem;
        font-style: normal;
        line-height: 130%;
        margin: 0;
    }

    &__body {
        padding: 0 2rem 2rem 2rem;

        &__forgot-password {
            margin-bottom: 2rem;
            text-align: right;

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: 0.9rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__submit {
        margin-bottom: 1rem;
    }

    &__footer {
        text-align: center;
        margin-top: 2rem;

        &__create-account {
            color: $primary-color;
            text-decoration: none;
            font-size: 0.9rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.btn {

    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn--primary {
    width: 100%;
    background-color: $primary-color;
    color: white;


    &:hover {
        background-color: darken($primary-color, 10%);
    }

    &:focus {
        outline: none;
        background-color: lighten($primary-color, 10%);
    }
}

.btn--primary-txt {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    background-color: transparent; // No background color by default
    color: $primary-color; // Text color matches what would be the primary button's background
    font-size: 1rem;
    cursor: pointer;
    
    &:hover {
        background-color: transparent; // Ensure background stays transparent on hover
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 5px, rgba(0, 0, 0, 0.12) 0px 3px 4px, rgba(0, 0, 0, 0.14) 0px 0px 4px;
    }

}


.form-group {
	margin-bottom: 1rem;

	&__label {
		display: block;
		color: $font-color;
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}

	&__input-wrapper {
        width: 100%;
		padding: 0.75rem;
		border-radius: 4px;
		font-size: 0.9rem;
        background-color: $gray-background-color;
        position: relative;
		display: flex;
	}

	&__input {
        width: 100%;
        color: red;
	}

}

