* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 1rem;
  margin: 0 0 0 1rem;
  color: #000;
}
.btn__content {
  margin: 0;
}
.btn__icon {
  margin-right: 0.8rem;
  color: #6f7d90;
}
.btn:hover {
  border-color: #0063fb;
}
.btn--category .btn__content {
  flex-direction: column;
  text-align: center;
}
.btn--category .btn__icon {
  color: #38bdf8;
  padding-bottom: 1rem;
  margin: 0;
}
.btn--category:hover {
  color: #6f7d90;
}
.btn--category:hover .btn__icon {
  color: #6f7d90;
}
.navbar {
  height: 49px;
}

.search {
  position: relative;
}
.search__input {
  background-color: transparent;
  border: 1px solid #c3ccd9;
  border-radius: 4px;
  width: 100%;
  display: block;
  font-size: 1.6rem;
}
.search__button {
  background-color: transparent;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 4rem;
}

.border-bottom, .header {
  border-bottom: 1px solid #c3ccd9;
}

.border-bottom-2, .btn {
  border-bottom: 2px solid transparent;
}

.border-0, .btn--category {
  border: 0;
}

.flex, .btn, .btn__content, .btn__icon, .navbar, .search__button {
  display: flex;
}

.flex-center, .btn, .btn__content, .btn__icon, .search__button {
  align-items: center;
  justify-content: center;
}

.p-0, .btn--left {
  padding: 0;
}

.p-1, .search__input {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.m-0, .btn--category, .btn--left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.m-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.mr-auto, .btn--left {
  margin-right: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1010px;
  padding: 0 31px;
  margin: 0 auto;
}

.search-section {
  padding: 31px 0 0 0;
}

.categories {
  display: grid;
  grid-template-columns: repeat(6, minmax(10.4rem, 1fr));
  margin: 1rem 0 0 0;
}
.categories .btn {
  padding: 16px 4px;
}